
  .board {
    width: calc(100% - 20px);
    height: 400px;
    background: #f6f6f6;
    padding: 10px;
    input{
      display: inline-block;
      height: 10px;
      width: 100px;
      margin: 10px;
      padding: 10px;
    }
    button{
      display: inline-block;
      margin: 10px;
      padding: 10px;
      border: 0;
      cursor: pointer;
    }
  }
  .players{
    background: #f6f6f6;
    padding: 10px;
    div{
      display: inline-block;
      font-size: 30px;
    }
    div:nth-child(3){
      float: right;
    }
  }
  .board:hover{
    background: #f3f3f3;
  }
  .ball{
    /*border: 1px solid;*/
    background: #e46855;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    transition: 1s;
  }
  .startGame, .ball{
    transform: translate(750px, 175px);
    /*transition: 1s;*/
 }
